<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">

<dict>
    <key>Label</key>
    <string>com.goagent.local.ios</string>
    <key>WorkingDirectory</key>
    <string>/Applications/goagent-ios.app/goagent-local</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Applications/goagent-ios.app/python/bin/python</string>
        <string>/Applications/goagent-ios.app/goagent-local/proxy.py</string>
    </array>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PYTHONHOME</key>
        <string>/Applications/goagent-ios.app/python</string>
    </dict>
    <key>KeepAlive</key>
    <dict>
        <key>PathState</key>
        <dict>
            <key>/tmp/goagent.pid</key>
            <true/>
        </dict>
    </dict>
    <key>StandardOutPath</key>
    <string>/tmp/goagent.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/goagent.log</string>
</dict>
</plist>
