Package: org.goagent.local.ios
Name: goagent-ios
Depends: firmware (>= 5.0), com.saurik.substrate.safemode, sudo, openssl,shell-cmds,com.ericasadun.utilities
Version: 0.0.4-2
Architecture: iphoneos-arm
Description: goagent client for ios
Maintainer: @hewigovens
Installed-Size: 53352
